<a href="https://colab.research.google.com/github/Snehaannazac/colab-git-demo-sanna/blob/main/Lesson_4_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Python and Pandas Assessment Notebook

import pandas as pd
import numpy as np
from functools import reduce

# Task 1: Create a DataFrame using Pandas
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
})
print("Task 1 - Initial DataFrame:")
print(df)

# Task 2: Row and Column Manipulation
df_no_city = df.drop(columns=['City'])
print("\nTask 2 - After dropping 'City' column:")
print(df_no_city)

# Task 3: Handling Null Values
df_nulls = pd.DataFrame({
    'A': [1, np.nan, 3],
    'B': [np.nan, 5, 6],
    'C': [7, 8, np.nan]
})
print("\nTask 3 - Original DataFrame with nulls:")
print(df_nulls)

# Fill nulls: numeric columns with 0
df_filled = df_nulls.fillna(0)
print("\nTask 3 - After filling null values with 0:")
print(df_filled)

# Task 4: GroupBy and Describe
df_group = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
    'Value': [10, 20, 15, 25, 30, 35]
})
group_desc = df_group.groupby('Category')['Value'].describe()
print("\nTask 4 - Grouped description of 'Value' by 'Category':")
print(group_desc)

# Task 5: Concatenation and Merging
# Define the DataFrames for Task 5
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = pd.DataFrame({'C': [9, 10, 11, 12], 'D': [13, 14, 15, 16]})

df_concat = pd.concat([df1, df2], ignore_index=True)
df_merged = pd.concat([df_concat.reset_index(drop=True), df3], axis=1)
print("\nTask 5 - Concatenated and Merged DataFrame:")
print(df_merged)

# Task 6: Tuples and Sets
fruits = ('apple', 'banana', 'cherry')
numbers = {1, 2, 3, 4, 5}
print("\nTask 6 - Tuple:", fruits)
print("Task 6 - Set before adding:", numbers)

# Trying to add to both
numbers.add(6)
print("Task 6 - Set after adding 6:", numbers)

try:
    fruits[0] = 'orange'
except TypeError as e:
    print("Task 6 - Error when trying to modify tuple:", e)

print("Explanation: Tuples are immutable; sets are mutable and allow add/remove.")

# Task 7: Dictionaries
students = {'Alice': 85, 'Bob': 90, 'Charlie': 78}
students['Alice'] = 95  # Update score
students['David'] = 88  # Add new student
print("\nTask 7 - Updated student scores dictionary:")
print(students)

# Task 8: Functions and Lambda
def square(x):
    return x * x

square_lambda = lambda x: x * x

print("\nTask 8 - Using regular function:")
print("Square of 4:", square(4))
print("Square of 6:", square(6))

print("Task 8 - Using lambda function:")
print("Square of 4:", square_lambda(4))
print("Square of 6:", square_lambda(6))

# Task 9: Iterators and Generators
class EvenIterator:
    def __init__(self, limit):
        self.num = 0
        self.count = 0
        self.limit = limit

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.limit:
            raise StopIteration
        self.num += 2
        self.count += 1
        return self.num

def even_generator(limit):
    num = 2
    for _ in range(limit):
        yield num
        num += 2

print("\nTask 9 - Even numbers using Iterator:")
ei = EvenIterator(5)
for val in ei:
    print(val, end=" ")

print("\nTask 9 - Even numbers using Generator:")
for val in even_generator(5):
    print(val, end=" ")

# Task 10: Map, Reduce, and Filter
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x * x, numbers))
product = reduce(lambda x, y: x * y, numbers)
evens = list(filter(lambda x: x % 2 == 0, numbers))

print("\n\nTask 10 - Map, Reduce, Filter:")
print("Squared:", squared)
print("Product:", product)
print("Even numbers:", evens)

# Task 11: Object-Oriented Programming - Creating a Class
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * (self.length + self.width)

rect1 = Rectangle(5, 3)
rect2 = Rectangle(10, 4)

print("\nTask 11 - Rectangle Class:")
print("Rect1 - Area:", rect1.area(), "Perimeter:", rect1.perimeter())
print("Rect2 - Area:", rect2.area(), "Perimeter:", rect2.perimeter())

# Task 12: Pandas Data Analysis
df_employees = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [55000, 65000, 70000, 60000, 58000]
})

avg_salary = df_employees.groupby('Department')['Salary'].mean()
high_earners = df_employees[df_employees['Salary'] > 60000]['Name']
df_employees['Bonus'] = df_employees['Salary'] * 0.10

print("\nTask 12 - Average salary by department:")
print(avg_salary)

print("\nEmployees with salary > 60000:")
print(high_earners.tolist())

print("\nEmployee DataFrame with Bonus:")
print(df_employees)

Task 1 - Initial DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

Task 2 - After dropping 'City' column:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28

Task 3 - Original DataFrame with nulls:
     A    B    C
0  1.0  NaN  7.0
1  NaN  5.0  8.0
2  3.0  6.0  NaN

Task 3 - After filling null values with 0:
     A    B    C
0  1.0  0.0  7.0
1  0.0  5.0  8.0
2  3.0  6.0  0.0

Task 4 - Grouped description of 'Value' by 'Category':
          count       mean        std   min    25%   50%    75%   max
Category
A           3.0  18.333333  10.408330  10.0  12.50  15.0  22.50  30.0
B           2.0  22.500000   3.535534  20.0  21.25  22.5  23.75  25.0
C           1.0  35.000000        NaN  35.0  35.00  35.0  35.00  35.0

Task 5 - Concatenated and Merged DataFrame:
   A  B   C   D
0  1  3   9  13
1  2  4  10  14
2  5  7  11  15
3  6  8  12  16

Task 6 - Tuple: ('apple', 'banana', 'cherry')
Task 6 - Set before adding: {1, 2, 3, 4, 5}
Task 6 - Set after adding 6: {1, 2, 3, 4, 5, 6}
Task 6 - Error when trying to modify tuple: 'tuple' object does not support item assignment
Explanation: Tuples are immutable; sets are mutable and allow add/remove.

Task 7 - Updated student scores dictionary:
{'Alice': 95, 'Bob': 90, 'Charlie': 78, 'David': 88}

Task 8 - Using regular function:
Square of 4: 16
Square of 6: 36
Task 8 - Using lambda function:
Square of 4: 16
Square of 6: 36

Task 9 - Even numbers using Iterator:
2 4 6 8 10
Task 9 - Even numbers using Generator:
2 4 6 8 10

Task 10 - Map, Reduce, Filter:
Squared: [1, 4, 9, 16, 25]
Product: 120
Even numbers: [2, 4]

Task 11 - Rectangle Class:
Rect1 - Area: 15 Perimeter: 16
Rect2 - Area: 40 Perimeter: 28

Task 12 - Average salary by department:
Department
Finance    60000.0
HR         61500.0
IT         62500.0
Name: Salary, dtype: float64

Employees with salary > 60000:
['Jane', 'Bob']

Employee DataFrame with Bonus:
      Name Department  Salary   Bonus
0     John         IT   55000  5500.0
1     Jane         HR   65000  6500.0
2      Bob         IT   70000  7000.0
3    Alice    Finance   60000  6000.0
4  Charlie         HR   58000  5800.0